@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://css.gg/css");

* {
  box-sizing: border-box;
  color: #333;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.border {
  border: 1px solid #000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*Sidenav*/
.toggle-sidebar {
  display: none;
  position: fixed;
  top: 0;
  z-index: 3;
  padding: 10px;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  top: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid #333;
  transition: 0.5s;
}

.title {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
}

.homepage-title {
  padding: 20px;
}

.nav-menu {
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0 20px;
}

.log-out-button {
  background-color: #ffffff;
  border: 1px solid #ce3838;
  font-size: 1.3em;
  margin-left: 20px;
  cursor: pointer;
}

/*Sidenav End*/

/*Main*/

.mobile-home-title {
    display: none;
}

.main {
  margin-left: 320px;
  margin-right: 20px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

/*Main End*/

@media (max-width: 900px) {
  .sidebar {
    width: 200px;
  }

  .main {
    margin-left: 220px;
  }
}

@media (max-width: 750px) {

    .mobile-home-title {
        display: block;
        text-align: right;
        font-weight: normal;
    }

  /*SIDE BAR MOBILE START*/

  .nav-menu {
    padding-left: 30px;
    padding-top: 30px;
  }

  .show-sidebar {
    display: none;
  }

  .toggle-sidebar {
    display: block;
    position: fixed;
    padding: 5px;
    margin: 10px;
  }

  .toggle-sidebar button {
    height: 30px;
    width: 30px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: #ffffff85;
  }

  .toggle-icon {
    transform: rotate(45deg);
  }

  .gg-math-plus {
    transition: all 0.4s;
  }

  .sidebar {
    width: 40%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 2;
  }

  .sidebar-header {
    display: none;
  }

  .sidebar-content {
    margin-top: 30px;
  }

  /*SIDE BAR MOBILE END*/
  /*MAIN MOBILE START*/

  .main {
    margin: 10px;
    margin-top: 40px;
  }
  
  .main-page-image img {
    width: 100%;
  }  

  /*MAIN MOBILE END*/
}
